<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="order-status">
  <template>
    <style include="shared-styles">
      :host {
        display: block;        
        padding: 10px;
      }
      .orderStatusGrid{
        height:430px;
      }
    </style>
    <h1>Order Status</h1>
    <div class="card">
      <vaadin-grid class="orderStatusGrid" id="orderStatusGrid" aria-label="Basic Binding Example" items="[[orderstatus.statusList]]">
        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="symbol" direction="asc">Stock</vaadin-grid-sorter>
          </template>
          <template>[[item.symbol]]</template>
          <!--<template class="footer">First Name</template>-->
        </vaadin-grid-column>
        <vaadin-grid-column width="150px">
          <template class="header">
            <vaadin-grid-sorter path="type">Transaction Type</vaadin-grid-sorter>
          </template>
          <template>[[item.type]]</template>
          <!--<template class="footer">Last Name</template>-->
        </vaadin-grid-column>
        <vaadin-grid-column >
          <template class="header">
            <vaadin-grid-sorter path="qty">Qty</vaadin-grid-sorter>
          </template>
          <template>[[item.qty]]</template>
          <!--<template class="footer">Address</template>-->
        </vaadin-grid-column>
        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="price">Price</vaadin-grid-sorter>
          </template>
          <template>[[item.price]]</template>
          <!--<template class="footer">Last Name</template>-->
        </vaadin-grid-column>
        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="totalAmt">Total Amount</vaadin-grid-sorter>
          </template>
          <template>[[item.totalAmt]]</template>
          <!--<template class="footer">Last Name</template>-->
        </vaadin-grid-column>
        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="status">Status</vaadin-grid-sorter>
          </template>
          <template>[[item.status]]</template>
          <!--<template class="footer">Last Name</template>-->
        </vaadin-grid-column>
      </vaadin-grid>
    </div>
    <iron-ajax auto url="http://10.117.189.82:9090/order/getStatus" handle-as="json" last-response="{{orderstatus}}"></iron-ajax>
    
  </template>

  <script>
    class OrderStatus extends Polymer.Element {
      static get is() { return 'order-status'; }
    }

    window.customElements.define(OrderStatus.is, OrderStatus);
  </script>
</dom-module>
