<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-input-money/paper-input-money.html">


<dom-module id="place-order">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

       ::selection {
               background-color: #b5e2e7;
            }

            ::-moz-selection {
            background-color: #8ac7d8;
            }
            
             .container {
            display: -webkit-flex;
            display: flex;
            height: 100%;
            }
            .content-container {
              width: 100%;
              height: 100%;
            }
             .invalid span{
             color:red;
             margin-left: 33%;
            }
            h2 {
            text-align: center;
            font-size: 175%;
            color: #757575;
            font-weight: 300;
            }
             .select {
            width: 83%;
            height: 50px;
            display: block;
            margin: 0 auto 15px;
            padding: 0 7px;
            border: none;
            color: #757575;
            font-size: 16px;
            }

             .labeltext {
            width: 80%;
            height: 20px;
            display: block;
            margin: 0 auto 15px;
            padding: 10px 7px;
            border: none;
            border-bottom: 1px solid #000000;
            color: #757575;
            font-size: 16px;
            }
            .RegButton {
            position: relative;
            width: 85%;
            height: 50px;
            display: block;
            margin: 28px auto 30px;
            color: white;
            background-color: #ff6200;
            border: none;
            padding: 20px 0 0 120px;
            }
            #Reg {            
            background-color: #fff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
            min-width: 450px;
            margin:10% auto;
            }
             paper-radio-button.sell {
            --paper-radio-button-checked-color: var(--paper-red-500);
            --paper-radio-button-checked-ink-color: var(--paper-red-500);
            --paper-radio-button-unchecked-color: var(--paper-red-900);
            --paper-radio-button-unchecked-ink-color: var(--paper-red-900);
            --paper-radio-button-label-color: var(--paper-red-500);
          }
          paper-radio-button.buy {
            --paper-radio-button-checked-color: var(--paper-green-500);
            --paper-radio-button-checked-ink-color: var(--paper-green-500);
            --paper-radio-button-unchecked-color: var(--paper-green-900);
            --paper-radio-button-unchecked-ink-color: var(--paper-green-900);
            --paper-radio-button-label-color: var(--paper-green-500);
          }
          paper-input-money{
            text-align:left;
          }
    </style>

    <div class="container">
    <div id="Reg">
      <form name="form">
        <h2>Trading: Place Order</h2>
         <div class="invalid">
        <span hidden="{{hide}}">{{msg}}</span>
        </div>
    
    <paper-radio-group selected="sell" on-iron-select="_typeSelected">
      <paper-radio-button name="buy" label="Buy" class="buy">Buy</paper-radio-button>
      <paper-radio-button name="sell" label="Sell" class="sell">Sell</paper-radio-button>
    </paper-radio-group>

  <!--  <paper-dropdown-menu label="Symbol"   class="select pass">
          <paper-listbox slot="dropdown-content" on-iron-select="_symbolSelected">
            <template is="dom-repeat" items="{{symbolResponse}}">
            <paper-item>{{item.name}} [ Shares: {{item.id}} ] </paper-item></br>
            
          </template>
           
          </paper-listbox>
        </paper-dropdown-menu> -->

         <paper-dropdown-menu label="Symbol"   class="select pass">
          <paper-listbox slot="dropdown-content" on-iron-select="_symbolSelected">
           
            <paper-item name="symbol" >HCL</paper-item></br>
             <paper-item name="symbol">TCS</paper-item></br>
           
           
          </paper-listbox>
        </paper-dropdown-menu>


      <paper-input label="Quantity" class="select pass" name="quantity" id="quantity" type="text" placeholder="Quantity"
        required error-message="Quantity Required!" auto-validate allowed-pattern="[0-9]"></paper-input>


         <!--  <paper-dropdown-menu label="Order Type" class="select pass">
          <paper-listbox slot="dropdown-content" on-iron-select="_orderTypeSelected">
            <paper-item>Limit</paper-item> </br>
            <paper-item>ABC</paper-item></br>
            <paper-item>XYZ</paper-item>
           
          </paper-listbox>
        </paper-dropdown-menu> -->


        <!--<paper-input label="Amount" class="select pass" name="amount" id="amount" type="number" placeholder="Amount" 
        required error-message="Amount Required!" auto-validate allowed-pattern="[0-9]"></paper-input>-->

        <paper-input-money label="Amount" class="select pass" name="amount" id="amount" placeholder="Amount" 
        required error-message="Amount Required!" auto-validate allowed-pattern="[0-9]"
							 required
value="2454"></paper-input-money>
        
      <paper-button raised on-click="submitvalue" id="submitbtn" class="RegButton">PLACE ORDER</paper-button>


        </form>
        </div>
        </div>
     <!-- ajax for symbol loading and share quantity check-->
         <iron-ajax auto
          url="https://api.github.com/users/burczu/repos"
          params='{}'
          handle-as="json"
          last-response="{{symbolResponse}}"></iron-ajax>

     <!-- ajax for  posting data-->
        <iron-ajax id="SendPkg"
        url="http://10.117.189.82:9090/order/placeOrder"
        method="POST"
        handle-as="json"
        content-type="application/json"
        body='{{sendvalues}}'
        on-response="_handleResponse"
        on-error="_handleErrorResponse">
      </iron-ajax>
  </template>

  <script>
    class PlaceOrder extends Polymer.Element {
      static get is() { return 'place-order';
       }

      static get properties() {
        return {
          type:{
            type:String,
            value:''
          },
          symbol:{
            type:String,
            value:''
          },
           quantity:{
            type:Number,
            value:''
          },
          amount:{
            type:Number,
            value:''
          },       
          sendvalues:{
            type: Object
          }
         
        };
      }
     _symbolSelected (e) {
        this.symbol = e.target.selectedItem.innerText;
      }

       _typeSelected (e) {
        this.type = e.target.selectedItem.innerText;
      }
      submitvalue(){
        
        let quantity= this.$.quantity.value;
        let amount= this.$.amount.value;
        let type = this.type.toLowerCase();
      

        if(amount=="" || quantity=="" || type=="" || this.symbol == "" )
          {      
              this.msg="Please fill the fields";   
              this.hide=false;
          } else{ 
         
          //remove below 2 lines once java api redy
          //  this.msg="Placed Your Order Successfully"; 
          //  this.hide=false; return false;
      //ajax send value
           var ajaxRequest= this.$.SendPkg;
         
          this.sendvalues= {
            "price": this.$.amount.value,
            "quantity":this.$.quantity.value,
            "type":this.type,
             "userid":"121",
             "symbol":this.symbol
            
             } 
           this.$.SendPkg.generateRequest();
          }  
       
      }
      //ajax after post response handle method
      _handleResponse(event, request) 
       {  
              var response = request.response;
              console.log(JSON.stringify(response));
              
            //  this.msg="Placed Your Order Successfully"; 
               this.hide=false;

               alert("Your Order Placed Successfully");

               window.history.pushState({}, null, '/orderstatus');
               window.location.href="/orderstatus";
               // window.dispatchEvent(new CustomEvent('location-changed'));
       }
       //ajax after post response handle error response
      _handleErrorResponse(event) 
       {
              console.log(event.detail.error.message);
       }
    }

    window.customElements.define(PlaceOrder.is, PlaceOrder);
  </script>
</dom-module>
