<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/highcharts-chart/highcharts-chart.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">

<dom-module id="stock-trend">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <h1>Stock Trend</h1>
    <div class="card">
      <div class="">
        <paper-dropdown-menu label="Stock">
          <paper-listbox slot="dropdown-content" selected='0' on-iron-select="_symbolSelected">
            <paper-item>HCL</paper-item>
            <paper-item>TCS</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>

        <a href="#" style="float:right;" on-click="goBackToTradeView" id="goBackAnc">Back to View</a>

      </div>
      <div class="">
        <highcharts-chart type="area" id="chartHigh"
          x-zoom x-label="Time" title='{{chartMaster.title}}'  
          y-label="Price">
        </highcharts-chart>
      </div>
    </div>
    <iron-ajax id="chartAjax" auto url="/data/dataJson.json" handle-as="json" on-response="storeChatData"></iron-ajax>
  </template>

  <script>
    class StockTrend extends Polymer.Element {
      static get is() { return 'stock-trend'; }

      static get properties(){
        return{
          symbol:{
            type:String
          },
          chartMaster:{
            type:Object,
            value:{}
          },
          flagChart:{
            type:String
          }
        }
      }

      ready(){
        super.ready();
        let qrStr = window.location.search;
        qrStr = qrStr.split("?")[1].split("=")[1];
        console.log(qrStr);
        this.symbol = qrStr;
      }

      goBackToTradeView(){
        window.history.pushState({},null,'/tradeview');
        window.location.href = '/tradeview';
      }

      storeChatData(event,Request){
        let myArr = [];
        this.chartMaster = Request.response.data;
        if(this.flagChart === undefined){
          this.chartMaster.title = 'HCL';
          this.$.chartHigh.setData(this.chartMaster['HCL']);
        }
        else{
          myArr = this.chartMaster; 
          this.$.chartHigh.setData(myArr[this.flagChart]);
        }
        
      }

      _symbolSelected (e) {        
        this.symbol = e.target.selectedItem.innerText;        
        if(this.chartMaster.hasOwnProperty(this.symbol) === true){
          //this.chartMaster.title = this.symbol;
          //this.$.chartHigh.setData([]);
          //myArr = this.chartMaster[this.symbol];
          this.flagChart = this.symbol;
          let chartAjax = this.$.chartAjax;
          chartAjax.generateRequest();
          
        }
      }

    }

    window.customElements.define(StockTrend.is, StockTrend);
  </script>
</dom-module>
