<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="websocket.html">

<dom-module id="trade-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .tradeViewGrid{
        height:430px;
      }
    </style>
    <h1>Trade View</h1>
    <div class="card">
      <vaadin-grid class="tradeViewGrid" id="tradeViewGrid" 
        aria-label="Basic Binding Example" 
        active-item="{{activeItem}}" items="[[trade.tradeData]]">
        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="symbol" direction="asc">Symbol</vaadin-grid-sorter>
          </template>
          <template>[[item.symbol]]</template>
          <!--<template class="footer">First Name</template>-->
        </vaadin-grid-column>
        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="per">%</vaadin-grid-sorter>
          </template>
          <template>[[item.per]]</template>
          <!--<template class="footer">Last Name</template>-->
        </vaadin-grid-column>LTP
        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="LTP">LTP</vaadin-grid-sorter>
          </template>
          <template>[[item.LTP]]</template>
          <!--<template class="footer">Last Name</template>-->
        </vaadin-grid-column>
        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="bid">Bid Rate</vaadin-grid-sorter>
          </template>
          <template>[[item.bid]]</template>
          <!--<template class="footer">Last Name</template>-->
        </vaadin-grid-column>

        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="ask">Ask Rate</vaadin-grid-sorter>
          </template>
          <template>[[item.ask]]</template>
          <!--<template class="footer">Last Name</template>-->
        </vaadin-grid-column>
        
        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="open">Open</vaadin-grid-sorter>
          </template>
          <template>[[item.open]]</template>
          <!--<template class="footer">Last Name</template>-->
        </vaadin-grid-column>

        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="high">High</vaadin-grid-sorter>
          </template>
          <template>[[item.high]]</template>
          <!--<template class="footer">Last Name</template>-->
        </vaadin-grid-column>

        <vaadin-grid-column>
          <template class="header">
            <vaadin-grid-sorter path="low">Low</vaadin-grid-sorter>
          </template>
          <template>[[item.low]]</template>
          <!--<template class="footer">Last Name</template>-->
        </vaadin-grid-column>
      </vaadin-grid>
    </div>
    
    <iron-ajax auto url="/data/dataJson.json" handle-as="json" last-response="{{trade}}"></iron-ajax>

    <!--<iron-ajax auto url="https://demo.vaadin.com/demo-data/1.0/people?count=10" 
      handle-as="json" 
      on-response="bindViewData"></iron-ajax>-->

    <!--<web-socket id="ws"
                auto
                url="[[url]]"
                state="{{state}}"
                last-response="{{response}}"
                last-error="{{error}}"
                verbose>
    </web-socket>-->

  </template>

  <script>
    class TradeView extends Polymer.Element {
      static get is() { return 'trade-view'; }
      
      static get properties() {
        return {
          url: {
            type: String,
            value: 'wss://echo.websocket.org/',
            observer: '_handleUrlChanges',
            notify: true
          },
          messages: {
            type: Array,
            value: [],
            notify: true
          },
          state: {
            type: Number,
            observer: '_handleWSStateChanges',
            notify: true
          },
          response: {
            type: Object,
            observer: '_handleResponse'
          },
          error: {
            type: Object,
            observer: '_handleError'
          },
          activeItem: {
              observer: '_activeItemChanged'
          }
        };
      }

      _activeItemChanged(item) {
        if(item){
          //this.$.grid.selectedItems = item ? [item] : [];
          window.history.pushState({}, null, '/stocktrend');
          //window.location.href="/stocktrend?sys=" + item.symbol;
          window.location.href="/stocktrend";
        }          
      }

      _toggleConnectionState() {

        if (this.state === 1) {
          this.$.ws.close();
        } else {
          this.$.ws.open();
        }
        this.$.input.focus();
      }

      _send() {

        this.$.ws.send(this.message);
        this.push('messages', {
          author: 'you',
          text: this.message
        });
        this.message = '';
        this.$.input.focus();
      }

      _handleUrlChanges() {

        // if (this.$.ws.state === 1) {
        //   this.$.ws.close();
        // }
        // // overwrite any error messages before
        // this.$.error.update({invalid: false});
      }

      _handleWSStateChanges() {

      }

      _handleResponse() {

        this.push('messages', {
          author: 'server',
          text: this.response
        });
      }

      _handleError() {

        this.$.error.update({invalid: true});
      }

      bindViewData(event,Request){
        //this.viewData = Request.response.result;
        //console.log(this.viewData);
      }

      addData(){
        this.users.result.push({"firstName":"abhilas","lastName":"mohanty","address":"asdfadsf","email":"a@b.com"});
        console.log(this.users);
        this.$.tradeViewGrid.items = this.users.result;
        this.$.tradeViewGrid.clearCache();
      }

    }

    window.customElements.define(TradeView.is, TradeView);
  </script>
</dom-module>
